/*#-#-#-#-#-#-#-#-#-#-#-#-#-#-# import fonts #-#-#-#-#-#-#-#-#-#-#-#-#-#-#*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

/*#-#-#-#-#-#-#-#-#-#-#-#-#-#-# barre de scrool #-#-#-#-#-#-#-#-#-#-#-#-#-#-#*/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-linear-gradient(
    #141019,
    /* Plus foncé que #141019 pour le début */ #141019,
    /* Votre couleur principale */ #141019
      /* Une nuance plus claire pour la fin */
  );
}
/*#############################################################################################################*/
/*--------------------------------------------------  GÉNÉRAL  ------------------------------------------------*/
/*#############################################################################################################*/
:root {
  /* Colors */
  --primary: #1d1b30;
  --secondary: #f59b09;
  --complementary: #00ffff;
  --white: #faf4f8;
  --black: #141019;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: var(--primary);
}
h1 {
  font-size: 6rem; /* à modifier */
  font-weight: 900; /* à modifier */
  color: var(--white);
  font-family: "Roboto", sans-serif; /* à modifier */
  padding-bottom: 5rem;
}
h2 {
  font-size: 4.5rem; /* à modifier */
  font-weight: 900; /* à modifier */
  color: var(--white);
  font-family: "Roboto", sans-serif; /* à modifier */
  padding-bottom: 5rem;
}
h3 {
  font-size: 3rem; /* à modifier */
  font-weight: 900; /* à modifier */
  font-family: "Roboto", sans-serif; /* à modifier */
  color: var(--white);
}

h4 {
    font-size: 2rem; 
    font-weight: 900; 
    font-family: "Roboto", sans-serif; 
  }
/*h5 {
    font-size: 2rem; 
    font-weight: 900; 
    font-family: "Roboto", sans-serif; 
  }*/
/*h6 {
    font-size: 2rem; 
    font-weight: 900; 
    font-family: "Roboto", sans-serif; 
  } */
p {
  font-size: 1.6rem; /* à modifier */
  font-family: "Jost", sans-serif; /* à modifier */
  line-height: 1.6;
  color: var(--white);
}
.container {
  max-width: 140rem;
  margin: 0 auto;
}
span {
  color: #f59b09;
}
.active {
  color: var(--secondary);
}

/*--------------------------------------------------  BUTTON  -------------------------------------------------*/
.portfolio-button {
  background-color: transparent;
  color: var(--secondary);
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 2px solid var(--secondary);
  cursor: pointer;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jost", sans-serif;
}

.portfolio-button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

/*#############################################################################################################*/
/*--------------------------------------------------  HEADER  -------------------------------------------------*/
/*#############################################################################################################*/
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 10rem;
  height: 100%;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo-section img {
  width: 6rem;
}

.nav__section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__section--link li {
  padding: 2rem 0;
}

.nav__section ul li a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  display: block;
  transition: color 0.3s ease;
}

.nav__section ul li a:hover {
  color: var(--secondary);
}
.social__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social__section div {
  margin: 10px 0;
}

.social__section a {
  color: white;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social__section a:hover {
  color: var(--secondary);
}

/*#############################################################################################################*/
/*--------------------------------------------------  MAIN  ---------------------------------------------------*/
/*#############################################################################################################*/

/*--------------------------------------------------  Home  ---------------------------------------------------*/

#main-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

#main-content p {
  padding-bottom: 5rem;
}
.content-left {
  flex: 1;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn__cv{
  display: flex;
  justify-content: space-evenly;
}

.content-right {
  flex: 1;
  text-align: right;
}

.content-right img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  padding-left: 5rem;
}

#main-content p {
  line-height: 1.6;

  margin-bottom: 30px;
}
/*--------------------------------------------------  ABOUT  --------------------------------------------------*/

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6rem;
  width: 100%;
}
.about h2 {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.about-content h3 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.about-content p {
  text-align: justify;
  padding-top: 5px;
  margin: 2rem 0 1rem;
}

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  display: flex;
  justify-content: center;
}

.about-img img {
  width: 100%;
  border-radius: 50%;
  border: 0.2rem solid var(--white);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 110%;
  height: 110%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--primary);
  border-bottom: 0.2rem solid var(--primary);
  border-left: 0.2rem solid var(--secondary);
  border-right: 0.2rem solid var(--secondary);
  animation: aboutSpinner 8s linear infinite;
}

/*--------------------------------------------------  Portfolio  ----------------------------------------------*/
.portfolio h2 {
  padding-top: 10rem;
  text-align: center;
  padding-top: 5rem;
}

.portfolio h3 {
  text-align: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  position: relative;
  width: 280px;
  height: 40rem;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  transform: perspective(800px);
}

.box a {
  text-decoration: none;
}

.box img {
  border-radius: 10px; /* Ajout de border-radius pour les images */
}

h4 {
  color: #f5f5f5;
  font-size: 2.5rem;
  text-align: center;
}

p {
  color: var(--white);
  margin: 2rem 1rem;
  font-family: "jost", sans-serif;
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 40rem;
  justify-content: space-evenly;
}

.description img {
  width: 25rem;
}
/*--------------------------------------------------  CONTACT  ------------------------------------------------*/

.contact {
  min-height: auto;
  padding: 30rem 0;
}
.contact h2 {
  text-align: center;
}

.contact Form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: 0.8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--white);
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--secondary);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: var(--text-color);
}

.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--black);
  border-radius: 0.6rem;
  z-index: -1;
  transition: 0.5s;
}

.contact form .input-box .input-field input:focus ~ .focus,
.contact form .input-box .input-field input:valid ~ .focus,
.contact form .textarea-field textarea:focus ~ .focus,
.contact form .textarea-field textarea:valid ~ .focus {
  width: 100%;
}

.contact form .textarea-field {
  position: relative;
  margin: 0.8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-field textarea {
  resize: none;
}

form .btn-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.contact form .btn {
  cursor: pointer;
}

/*#############################################################################################################*/
/*--------------------------------------------------  FOOTER  -------------------------------------------------*/
/*#############################################################################################################*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5rem 9%;
  background: var(--black);
}

.footer-text {
  color: var(--white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--primary);
  border: 0.2rem solid var(--secondary);
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
}

.footer-iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--secondary);
  z-index: -1;
  transition: 0.5s;
}

.footer-iconTop a:hover:before {
  width: 100%;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--white);
  transition: 0.5s;
}

.footer-iconTop a:hover i {
  color: var(--primary);
}
.fas {
  text-decoration: none;
}

/*#############################################################################################################*/
/*--------------------------------------------------  MÉDIA QUERYS  -------------------------------------------*/
/*#############################################################################################################*/

/*#############################################################################################################*/
/*--------------------------------------------------  Keyframes  ----------------------------------------------*/
/*#############################################################################################################*/

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
